.section {
  width: 100%;
  min-height: 50vh;
  display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* .main-container::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
.main-container {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: none;
  scroll-behavior: smooth;
  /* -ms-overflow-style: none;
  scrollbar-width: none; */
}

.section-button {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 100;
}

.banner-img {
  max-height: 450px;
  object-fit: cover;
  object-position: center;
}

.section-button > #up,
.section-button > #down {
  width: 50px;
  height: 50px;
  background: rgba(255, 235, 205, 0.411);
  margin: 10px 5px;
  border: 1px solid rgba(245, 245, 245, 0.623);
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #000000c0;
}

.section-button > #up:hover,
.section-button > #down:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.section-button > #up:active,
.section-button > #down:active {
  transform: scale(0.9, 0.9);
}

.custom-caption {
  top: 25%;
  right: 150px !important;
  left: unset !important;
  color: gray !important;
  width: 400px;
  height: 250px;
  background: rgba(255, 255, 255, 0.849);
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
  box-shadow: 2px 2px 5px 0px rgba(115, 115, 115, 1);
}

.product-container {
  width: 100%;
  min-height: 80vh;
  padding: 50px 100px 0 100px;
}
.product-caption {
  color: black;
}

.product-container .left,
.product-container .right {
  display: inline-block;
}

.product-container .left {
  width: 40%;
  float: left;
  height: 300px;
  padding: 0 20px;
}

.product-container .left img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}
.product-container .right {
  width: 60%;
  float: right;
}
.product-container .card {
  padding-right: 30px;
}
.product-container .card-body {
  font-size: 14px;
  text-indent: 25px;
  text-align: justify;
}
.product-container .right .card,
.product-container .right .card-header,
.product-container .right .card-footer {
  border: unset;
  background-color: white;
}

.product-container .right .card-header {
  font-family: "share";
  font-size: 24px;
  padding: 10px;
}

.carousel-indicators li {
  background-color: #7fb830;
  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.news {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 15px;
}
.news .card-header {
  height: 100px;
}

.news .card-body {
  max-height: 300px;
  overflow-y: scroll;
}

.news .card-body p {
  text-indent: 50px;
}

.news .card-body img {
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 15px;
}
.testimoni {
  text-align: center;
}
.testimoni .card-body img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.testimoni .card-body p {
  text-align: justify;
  padding: 0 20px;
  font-size: 14px;
}

.testimoni .card-header {
  font-size: 24px;
  font-family: "share";
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
}

.news .card-header,
.news .card-footer,
.testimoni .card-header,
.testimoni .card-footer {
  border: none;
  background-color: white;
}

.biografi-media {
  padding: 75px 200px;
}

.biografi-media img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  margin-right: 50px;
}
.biografi-media h4 {
  font-family: share;
  font-size: 30px;
  font-weight: bold;
}

.biografi-media .media-body {
  padding-top: 50px;
}
.biografi-media .media-body p {
  text-indent: 50px;
  text-align: justify;
  padding-top: 20px;
}
