* {
  box-sizing: border-box;
}

@font-face {
  font-family: "share";
  src: local("share"), url("./fonts/share/Share-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "roboto";
  src: local("roboto"),
    url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

#main-header {
  display: inline;
}

.jumbotron {
  padding: 10px;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: black;
  margin-bottom: -3px;
  border-radius: 0px;

}

.bg-main {
  background-color: #7fb830 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

.btn-main {
  width: 125px;
  font-size: 14px;
  font-weight: bold;
  background-color: #c1fc6f;
  color: white;
  transition: background-color 1s ease;
}

.btn-main:hover {
  background-color: #7fb830;
  color: white;
}

#btnLogin {
  width: 125px;
  font-size: 14px;
  font-weight: bold;
  color: #7fb830;
  font-family: roboto;
}

/* START COMPONENTS 
==>  LINE
"blue" | "black" | "white" | "green" | "red"
*/
.line {
  padding: 0 30px;
  text-align: center;
  position: relative;
  font-family: "share";
  font-weight: bold;
  margin-bottom: 10px;
}

.line::before {
  content: "";
  width: 35%;
  height: 2px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.line::after {
  content: "";
  width: 35%;
  height: 50px;
  background-repeat: repeat-x;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.section-padd {
  padding: 20px;
  padding-top: 50px;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "roboto";
  font-size: 15px;
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: bold;
}

.footer-main {
  height: 40px;
  line-height: 40px;
  text-align: right;
  font-size: 14px;
  font-family: share;
  color: white;
  font-weight: bold;
  padding-right: 50px;
}

.nav-span-cstm {
  display: inline-block;
  padding-bottom: 1px;
}
.active .nav-span-cstm {
  border-bottom: 2px solid white;
}


