* {
  box-sizing: border-box;
}

@font-face {
  font-family: "share";
  src: url("/fonts/Share-Italic.ttf") format("ttf");
}

#main-header {
  display: inline;
}

.jumbotron {
  padding: 10px;
  background-size: cover;
  background-position: center;
  text-align: left;
  color: black;
  margin-bottom: 0;
}

.bg-main {
  background-color: #fcc200 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
}

.btn-main {
  width: 125px;
  font-size: 14px;
  font-weight: bold;
  background-color: #fad14ac7;
  color: white;
  transition: background-color 1s ease;
}

.btn-main:hover {
  background-color: #ffc400;
  color: white;
}

#btnLogin {
  width: 125px;
  font-size: 14px;
  font-weight: bold;
  color: #fcc200;
}

/* START COMPONENTS 
==>  LINE
"blue" | "black" | "white" | "green" | "red"
*/
.line {
  padding: 0 30px;
  text-align: center;
  position: relative;
  font-family: "share";
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

.line::before {
  content: "";
  width: 35%;
  height: 2px;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.line::after {
  content: "";
  width: 35%;
  height: 50px;
  background-repeat: repeat-x;
  height: 7px;
  background-color: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.carousel-img-item {
  max-height: 100vh;
}

.section-padd {
  padding: 20px;
  padding-top: 75px;
}
